---
interface Props {
  title?: string;
  description?: string;
}

const {
  title = "TRAPS",
  description = "Specialized smart contracts designed to capture value and automate complex processes."
} = Astro.props;

---

<section id="traps" class="py-24 bg-black text-white">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="text-center mb-12">
      <h2 class="text-4xl font-extrabold font-ndot tracking-wide text-orange-500 mb-6">{title}</h2>
      <p class="max-w-3xl mx-auto text-xl text-gray-300">
        {description}
      </p>
    </div>
    
   
  </div>
</section> 